doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hello World!
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet", href='/css/main.css')
  body.bg
    .head-wrapper
      h1 Well this is...
      h2.glow Awkward
      hr.top-rule
    .config-text
      p If you're seeing this page, you're either me (sup Bonesaw!) or you installed this extension somehow. While I haven't ruled out making a fully-integrated version of this for other streamers to leverage, I haven't done that either. You can't customize this.
      p So there's nothing here for you, but Twitch mandates I have this page for my extension. Mild apologies for any inconvenience.


    // Script Includes -- just Twitch
    script(src='https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js')